.footer {
    border: 0;
    padding: 3rem 0;
}

.footer .text-box {
    margin-inline: auto;
}

.footer .text-box .text {
    font-family: var(--ff-sans-body);
    font-size: calc(var(--fs-xs) - 0.125em);
    font-weight: 500;
    color: var(--neutral-800);
    text-align: center;
}


